# Mac OS files
*.DS_Store
.java-version

# Compiled class files
*.class

# Log files
*.log

# Virtual machine crash logs
hs_err_pid*

# Node modules
*node_modules/

# Java settings files
*.project
*.settings/

# VSCode settings
*.vscode/
